# Project specific
*.aux
*.synctex.gz
*.synctex(busy)
*.log
*.out
*.toc
*.fls
*.fdb_latexmk

# General
.DS_Store
.AppleDouble
.LSOverride
tmp/

# Icon
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Webfiles
node_modules/
vendor/

# CAD files
lockfile.lck
OldVersions

# Environment
.venv/
.idea/
*.egg-info/
.eggs/
build/
dist/
__pycache__/
*.py[cod]

# Performance logging
logs/
*.log

# LaTeX
.aux
.fdb_latexmk
.fls
.synctex.gz
.xdv